<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>  
		<servlet-name>ServletLocation</servlet-name>  
		<servlet-class>controleur.ServletLocation</servlet-class>  
	</servlet>  
	<servlet-mapping>  
		<servlet-name>ServletLocation</servlet-name>  
		<url-pattern>/</url-pattern>  
	</servlet-mapping> 
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
</web-app>