<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">YDHmLDxudsyq</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@dim-oracle.uqac.ca:1521/dimdb.uqac.ca</property>
        <property name="hibernate.connection.username">trd157_23</property>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping resource="modele/Tblforfait.hbm.xml" />
        <mapping resource="modele/Tblusager.hbm.xml" />
        <mapping resource="modele/Tblcopie.hbm.xml" />
        <mapping resource="modele/Tbllocation.hbm.xml" />
        <mapping resource="modele/Tblrole.hbm.xml" />
        <mapping resource="modele/Tblacteur.hbm.xml" />
        <mapping resource="modele/Tblscenariste.hbm.xml" />
        <mapping resource="modele/Tblemploye.hbm.xml" />
        <mapping resource="modele/Tblfilm.hbm.xml" />
        <mapping resource="modele/Tblrealisateur.hbm.xml" />
        <mapping resource="modele/Tblclient.hbm.xml" />
        <mapping resource="modele/Tblpaysproduction.hbm.xml" />
        <mapping resource="modele/Tblpersonnage.hbm.xml" />
        <mapping resource="modele/Tblgenre.hbm.xml" />
        <mapping resource="modele/VwAfficheclient.hbm.xml" />
    </session-factory>
</hibernate-configuration>
